@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Roboto:400,500,700|Ubuntu:400,500,700');

#app {
    font-family: 'Montserrat', sans-serif;
    min-height: 100%;
    position: relative;
}

html,
body {
    height: 100%;
}

.overlay {
    background: -webkit-linear-gradient(-45deg,
        rgb(29, 151, 72),
        rgb(129, 191, 73));
    background: -moz-linear-gradient(-45deg, rgb(29, 151, 72), rgb(129, 191, 73));
    background: -o-linear-gradient(-45deg, rgb(29, 151, 72), rgb(129, 191, 73));
    background: linear-gradient(-45deg, rgb(29, 151, 72), rgb(129, 191, 73));
    height: auto;
    min-height: 100%;
    width: 100%;
}


.bg-dark {
    background-color: transparent !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-brand img {
    height: 45px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
    .login-link {
        border: 1px solid;
        border-radius: 20px;
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.7);
    border-color: transparent;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url('../images/menu.svg');
}

@media only screen and (min-width: 767px) {
    .bg-dark {
        background-color: transparent !important;
    }
}

@media only screen and (min-width: 768px) {
    .login-link {
        border: 1px solid;
        border-radius: 20px;
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-brand img {
        height: 35px;
    }
}

.nav-link {
    color: #777;
    font-size: 14px;
    font-weight: bold;
}

.nav-tabs .nav-link.active {
    color: #1d9748;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid #1d9748;
}

.nav-tabs .nav-link:hover {
    color: #1d9748;
    border: transparent;
}

.about-info {
    padding-bottom: 80px;
}

.about-body {
    margin-top: 30px;
    line-height: 22px;
}

.about-body-img {
    margin-top: 80px;
}

.about-body h4 {
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.about-body p {
    font-size: 13px;
}

@media only screen and (max-width: 767px) {
    .about-body-img {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .about-info {
        padding-bottom: 50px;
    }
}

.foot-text,
.social {
    display: inline-block;
}

.copyright-text {
    color: #404040;
    margin: 5px 0 0;
    font-size: 11px;
    display: inline-block;
}

.powered {
    height: 25px;
}

ul {
    padding-left: 0;
    margin-bottom: 0px;
    list-style: none !important;
    margin-top: 5px;
    display: inline-block;
}

ul li {
    display: inline-block;
}

.foot-text {
    line-height: 35px;
}

.fab {
    margin-right: 5px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    background: #e6e6e6;
    text-align: center;
}

@media only screen and (max-width: 374px) {
    footer {
        height: 80px;
    }
}

@media only screen and (min-width: 768px) {
    .social {
        float: right;
        line-height: 35px;
    }

    .foot-text {
        float: left;
    }
}