@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Roboto:400,500,700|Ubuntu:400,500,700');

#app {
    font-family: 'Montserrat', sans-serif;
    min-height: 100%;
    position: relative;
}

html,
body {
    height: 100%;
}

.overlay {
    background: -webkit-linear-gradient(-45deg,
        rgb(29, 151, 72),
        rgb(129, 191, 73));
    background: -moz-linear-gradient(-45deg, rgb(29, 151, 72), rgb(129, 191, 73));
    background: -o-linear-gradient(-45deg, rgb(29, 151, 72), rgb(129, 191, 73));
    background: linear-gradient(-45deg, rgb(29, 151, 72), rgb(129, 191, 73));
    height: auto;
    min-height: 100%;
    width: 100%;
}


.bg-dark {
    background-color: transparent !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-brand img {
    height: 45px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
    .login-link {
        border: 1px solid;
        border-radius: 20px;
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.7);
    border-color: transparent;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url('../images/menu.svg');
}

@media only screen and (min-width: 767px) {
    .bg-dark {
        background-color: transparent !important;
    }
}

@media only screen and (min-width: 768px) {
    .login-link {
        border: 1px solid;
        border-radius: 20px;
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-brand img {
        height: 35px;
    }
}

.nav-link {
    color: #777;
    font-size: 14px;
    font-weight: bold;
}

.nav-tabs .nav-link.active {
    color: #1d9748;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid #1d9748;
}

.nav-tabs .nav-link:hover {
    color: #1d9748;
    border: transparent;
}

.foot-text,
.social {
    display: inline-block;
}

.copyright-text {
    color: #404040;
    margin: 5px 0 0;
    font-size: 11px;
    display: inline-block;
}

.powered {
    height: 25px;
}

ul {
    padding-left: 0;
    margin-bottom: 0px;
    list-style: none !important;
    margin-top: 5px;
    display: inline-block;
}

ul li {
    display: inline-block;
}

.foot-text {
    line-height: 35px;
}

.fab {
    margin-right: 5px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    background: #e6e6e6;
    text-align: center;
}

@media only screen and (max-width: 374px) {
    footer {
        height: 80px;
    }
}

@media only screen and (min-width: 768px) {
    .social {
        float: right;
        line-height: 35px;
    }

    .foot-text {
        float: left;
    }
}

.form-control {
    background: transparent;
    border: 1px solid rgba(99, 99, 99, 0.5);
    height: 35px;
    font-size: 11px;
    color: #777;
}

textarea {
    height: 100% !important;
}

#form {
    padding-top: 15px;
}

.form-control:focus {
    color: #777;
    background-color: transparent;
    border-color: #1d9748;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input::placeholder {
    color: #777 !important;
    font-size: 11px;
}

.btn-primary {
    background: linear-gradient(-45deg, rgb(29, 151, 72), rgb(129, 191, 73));
    color: #fff;
    padding: 9px 35px;
    border: none;
    margin-top: 23px;
    font-size: 13px;
}

.btn-primary:active,
.btn-primary:active:focus {
    background: linear-gradient(-45deg,
        rgb(29, 151, 72),
        rgb(129, 191, 73)) !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.small {
    color: #259a49;
}

.feedback-info {
    padding-bottom: 100px;
}

.feedback-body {
    margin-top: 30px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
    padding: 25px;
}

.feedback-body h4 {
    margin-bottom: 0px;
    font-family: 'Ubuntu', sans-serif;
}

.feedback-body p {
    font-size: 13px;
}

@media only screen and (min-width: 768px) {
    .feedback-info {
        padding-bottom: 50px;
    }

    .feedback-body {
        margin-top: 60px;
    }
}