@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Roboto:400,500,700|Ubuntu:400,500,700');

#app {
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
  position: relative;
}

html,
body {
  height: 100%;
}

.home-overlay {
  width: 100%;
}

.overlay {
  background: -webkit-linear-gradient(-45deg,
    rgb(29, 151, 72),
    rgb(129, 191, 73));
  background: -moz-linear-gradient(-45deg, rgb(29, 151, 72), rgb(129, 191, 73));
  background: -o-linear-gradient(-45deg, rgb(29, 151, 72), rgb(129, 191, 73));
  background: linear-gradient(-45deg, rgb(29, 151, 72), rgb(129, 191, 73));
  height: auto;
  min-height: 100%;
  width: 100%;
}

.bg-dark {
  background-color: transparent !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-brand img {
  height: 45px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
  .login-link {
    border: 1px solid;
    border-radius: 20px;
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.7);
  border-color: transparent;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("../images/menu.svg");
}

@media only screen and (min-width: 767px) {
  .bg-dark {
    background-color: transparent !important;
  }
}

@media only screen and (min-width: 768px) {
  .login-link {
    border: 1px solid;
    border-radius: 20px;
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-brand img {
    height: 35px;
  }
}

#main-home {
  background: url("../images/bg_image.jpg") center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  height: auto;
  top: 0;
  left: 0;
  position: absolute;
}

.home-header {
  margin-top: 300px;
}

.home-header-p {
  color: #fdd638;
  font-size: 32px;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: -5px;
  font-weight: bold;
}

.home-header-p2 {
  color: #fff;
  font-size: 65px;
  line-height: 1.1em;
  font-weight: 600;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.form-holder {
  margin-top: 100px;
}

.form-holder p {
  margin-bottom: 15px;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.card-body {
  padding-top: 40px;
  padding-bottom: 30px;
}

.nav-link {
  color: #777;
  font-size: 14px;
  font-weight: bold;
}

.nav-tabs .nav-link.active {
  color: #1d9748;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 2px solid #1d9748;
}

.nav-tabs .nav-link:hover {
  color: #1d9748;
  border: transparent;
}

.form-control {
  background: transparent;
  border: 1px solid rgba(99, 99, 99, 0.5);
  height: 35px;
  font-size: 11px;
  color: #777;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 0;
}

.form-control:focus {
  color: #777;
  background-color: transparent;
  border-color: #1d9748;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input::placeholder {
  color: #777 !important;
  font-size: 11px;
}

select.form-control:not([size]):not([multiple]) {
  height: 40px;
}

select option {
  color: #1c4603;
  font-size: 13px;
}

.btn-primary {
  background: linear-gradient(-45deg, rgb(29, 151, 72), rgb(129, 191, 73));
  color: #fff;
  padding: 9px 35px;
  border: none;
  margin-top: 23px;
  font-size: 13px;
}

.btn-primary:active,
.btn-primary:active:focus {
  background: linear-gradient(-45deg,
    rgb(29, 151, 72),
    rgb(129, 191, 73)) !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

#form,
#form2 {
  margin-bottom: 20px;
  padding: 0 13px;
}

@media only screen and (max-width: 767px) {
  .form-holder {
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .overlay {
    padding-bottom: 50px;
  }

  .home-header {
    margin-top: 30px;
  }

  .home-header-p {
    font-size: 25px;
  }

  .home-header-p2 {
    color: #fff;
    font-size: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home-header {
    margin-top: 170px;
  }

  .home-header-p {
    font-size: 25px;
  }

  .home-header-p2 {
    color: #fff;
    font-size: 55px;
  }
}